<script>
// @ts-nocheck

  import AddTodo from "../components/AddTodo.svelte";
  import TodoList from "../components/TodoList.svelte";
</script>

<div class="input-todo">
  <AddTodo />
  <TodoList/>
</div>

<style>
  .input-todo {
    margin: 20px;
  }
</style>
