<script lang="ts">
  import TopAppBar, {
    Row,
    Section,
    Title,
    AutoAdjust,
  } from "@smui/top-app-bar";
  import IconButton, { Icon } from "@smui/icon-button";
  import { mdiWeatherSunny, mdiWeatherNight } from "@mdi/js";
  import { Svg } from "@smui/common";
  import { darkTheme } from "../stores/store";

  let topAppBar;
  let dTheme = false

  const handleTheme = () => {
    dTheme = !dTheme;
    darkTheme.set(dTheme);
  };
</script>

<svelte:head>
  {#if $darkTheme === false}
    <link rel="stylesheet" href="/static/smui.css" />
  {:else}
    <link rel="stylesheet" href="/static/smui-dark.css" />
  {/if}
</svelte:head>

<TopAppBar bind:this={topAppBar} variant="standard">
  <Row>
    <Section>
      <Title>Todo</Title>
    </Section>
    <Section align="end" toolbar>
      <IconButton
        on:click={handleTheme}
        title={$darkTheme ? "Lights on" : "Lights off"}
        aria-label="Download"
        ><Icon component={Svg} viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d={$darkTheme ? mdiWeatherSunny : mdiWeatherNight}
          />
        </Icon></IconButton
      >
    </Section>
  </Row>
</TopAppBar>
<AutoAdjust {topAppBar}>
  <slot />
</AutoAdjust>

<style>
  /* Hide everything above this component. */
  :global(#smui-app),
  :global(body),
  :global(html) {
    display: block !important;
    height: auto !important;
    width: auto !important;
    position: static !important;
  }
</style>
