<script lang="ts">
  import { v4 as uuidv4 } from "uuid";
  import { activeFilter, todos } from "../stores/store";
  import Textfield from "@smui/textfield";

  let titleValue = "";
  let userNameValue = "";
  let id = 11;

  const handleTodoChange = (e) => {
    titleValue = e.target.value;
  };

  const handleNameChange = (e) => {
    userNameValue = e.target.value;
  };

  const handleInputChange = (e) => {
    e.preventDefault();

    let newTodo = {
      completed: false,
      id: uuidv4(),
      title: titleValue,
      color: "#ff0000",
      userId: id,
      username: userNameValue,
    };

    todos.update((currentTodos) => {
      return [newTodo, ...currentTodos];
    });
    titleValue = "";
    userNameValue = "";
    id = id + 1;
  };
</script>

<form on:submit={handleInputChange} class="input-form">
  <div id="todo-input">
    <Textfield
      bind:value={titleValue}
      label="Add Todo"
      on:change={(e) => handleTodoChange(e)}
      variant="filled"
    />
    <Textfield
      bind:value={userNameValue}
      label="Name"
      on:change={(e) => handleNameChange(e)}
      variant="filled"
    />
  </div>
  <button>Add</button>
</form>

<style>
  .input-form {
    margin: 2rem;
  }
  #todo-input {
    margin: 20px;
  }
</style>
