<script>
  // @ts-nocheck
  import ColorPicker from "svelte-awesome-color-picker";
  import { createEventDispatcher } from "svelte";
  import { getNotificationsContext } from "svelte-notifications";
  import IconButton from "@smui/icon-button";

  const { addNotification } = getNotificationsContext();
  const dispatch = createEventDispatcher();

  export let color;
  let hex = color;
  let colorToSave = "";
  let favoriteColors = "";

  const handlePickedColor = (e) => {
    hex = e.detail.hex;
  };

  const handleColorToSave = () => {
    addNotification({
      text: "Saved to colors",
      position: "top-center",
      type: "success",
      removeAfter: 4000,
    });
    colorToSave = hex;
    dispatch("handle-picked-color", colorToSave);
  };

  const handlefavoriteColors = () => {
    addNotification({
      text: "Saved to favorite",
      position: "top-center",
      type: "success",
      removeAfter: 4000,
    });

    favoriteColors = hex;
    dispatch("handle-favorite-color", favoriteColors);
  };
</script>

<ColorPicker {hex} label="" on:input={handlePickedColor} />

<div class="tooltip">
  <IconButton class="material-icons" on:click={handleColorToSave}
    >check</IconButton
  >
  <span class="tooltiptext">add to colors</span>
</div>

<div class="tooltip">
  <IconButton class="material-icons" on:click={handlefavoriteColors}
  >star</IconButton
>
  <span class="tooltiptext">add to favorite</span>
</div>

<style>
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>
