<script lang="ts">
  // @ts-nocheck
  import Select, { Option } from "@smui/select";
  import {
    activeFilter,
    uniqueColors,
    favoriteColors,
    todos,
  } from "../stores/store";
  import IconButton from "@smui/icon-button";

  let isUniqueColorsModalOpen = false;
  let isFavColorsModalOpen = false;
  let isFilterByUser = false;
  let filterTypes = [
    "User",
    "Color",
    "Favorite color/s",
    "Resolved",
    "Unresolved",
    "None",
  ];
  let userFilterNames = [];

  const handleFilter = (filter) => {
    switch (filter) {
      case "Resolved":
        activeFilter.set("resolved");
        isUniqueColorsModalOpen = false;
        isFavColorsModalOpen = false;
        isFilterByUser = false;
        break;
      case "Unresolved":
        activeFilter.set("unresolved");
        isUniqueColorsModalOpen = false;
        isFavColorsModalOpen = false;
        isFilterByUser = false;
        break;
      case "Color":
        isUniqueColorsModalOpen = true;
        isFavColorsModalOpen = false;
        isFilterByUser = false;
        break;
      case "None":
        activeFilter.set("none");
        isUniqueColorsModalOpen = false;
        isFilterByUser = false;
        isFavColorsModalOpen = false;
        break;
      case "Favorite color/s":
        activeFilter.set("favorite colors");
        isFavColorsModalOpen = true;
        isUniqueColorsModalOpen = false;
        isFilterByUser = false;
        break;
      case "User":
        let usernames = $todos.map((todo) => todo.username);
        let uniqueUsernames = new Set(usernames);
        userFilterNames = [...uniqueUsernames];
        isFilterByUser = true;
        isUniqueColorsModalOpen = false;
        isFavColorsModalOpen = false;
        break;
      default:
        break;
    }
  };

  const handleUserFilter = (filter) => {
    activeFilter.set(filter);
  };

  const handleFilterByColor = (color) => {
    activeFilter.set(color);
  };

  const handleFilterByFavColor = (color) => {
    activeFilter.set(color);
  };

  const onClearAllFilters = () => {
    activeFilter.set("none");
    isUniqueColorsModalOpen = false;
    isFilterByUser = false;
    isFavColorsModalOpen = false;
    counter++;
  };
  let counter = 0;
</script>

<div class="columns margins">
  <div>
    {#key counter}
      <Select label="Filter By">
        {#each filterTypes as filter}
          <Option
            on:click={(e) => handleFilter(e.target.innerText)}
            value={filter}>{filter}</Option
          >
        {/each}
      </Select>
    {/key}
  </div>
</div>
<div class="tooltip">
  <IconButton class="material-icons" on:click={onClearAllFilters}
    >clear</IconButton
  >
  <span class="tooltiptext">clear all fillters</span>
</div>

{#if isUniqueColorsModalOpen}
  <div class="modal">
    {#each $uniqueColors as color}
      <div
        class="colorTag"
        style="--color: {color}"
        on:keypress={() => handleFilterByColor(color)}
        on:click={() => handleFilterByColor(color)}
      />
    {/each}
  </div>
{/if}

{#if isFavColorsModalOpen}
  <div class="modal">
    {#each $favoriteColors as color}
      <div
        class="colorTag"
        style="--color: {color}"
        on:keypress={() => handleFilterByFavColor(color)}
        on:click={() => handleFilterByFavColor(color)}
      />
    {/each}
  </div>
{/if}

{#if isFilterByUser}
  <div class="modal">
    <div class="columns margins">
      <div>
        <Select label="Choose user">
          {#each userFilterNames as filter}
            <Option
              on:click={(e) => handleUserFilter(e.target.innerText)}
              value={filter}>{filter}</Option
            >
          {/each}
        </Select>
      </div>
    </div>
  </div>
{/if}

<style>
  .colorTag {
    width: 25px;
    height: 25px;
    background-color: var(--color);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
  }
  .modal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 55px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>
