<script>
  // @ts-nocheck
  import { quintOut } from "svelte/easing";
  import { crossfade } from "svelte/transition";
  import { flip } from "svelte/animate";
  import {
    filteredTodos,
    todos,
  } from "../stores/store";
  import FilterTodos from "./FilterTodos.svelte";
  import TodoItem from "./TodoItem.svelte";


  $: completed = $todos.filter((todo) => todo.completed === true).length;
  $: unCompleted = $todos.filter((todo) => todo.completed === false).length;

  const [send, receive] = crossfade({
    duration: (d) => Math.sqrt(d * 200),

    fallback(node, params) {
      const style = getComputedStyle(node);
      const transform = style.transform === "none" ? "" : style.transform;

      return {
        duration: 600,
        easing: quintOut,
        css: (t) => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`,
      };
    },
  });
</script>

<div>
  <FilterTodos />
  <div class="board">
    <div class="left">
      <h2>todo {unCompleted}</h2>
      {#each $filteredTodos.filter((t) => !t.completed) as todo (todo.id)}
        <div
          class="label"
          in:receive={{ key: todo.id }}
          out:send={{ key: todo.id }}
          animate:flip
        >
          <TodoItem {todo} />
        </div>
      {/each}
    </div>
    <div class="right">
      <h2>done {completed}</h2>
      {#each $filteredTodos.filter((t) => t.completed) as todo (todo.id)}
        <div
          class="done label"
          in:receive={{ key: todo.id }}
          out:send={{ key: todo.id }}
          animate:flip
        >
          <TodoItem {todo} />
        </div>
      {/each}
    </div>
  </div>
</div>

<style>
  .board {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  h2 {
    font-size: 2em;
    font-weight: 200;
    user-select: none;
    margin: 0 0 0.5em 0;
  }

  div.label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
    line-height: 1.2;
    padding: 0.5em 2.5em 0.5em 2em;
    margin: 0 0 0.5em 0;
    border-radius: 2px;
    user-select: none;
    border: 1px solid hsl(240, 8%, 70%);
    background-color: hsl(240, 8%, 93%);
    color: #333;
    font-size: small;
  }
</style>
