<script>
// @ts-nocheck

  import Select, { Option } from "@smui/select";
  import ColorPicker from "./ColorPicker.svelte";
  import { favoriteColors, todos, uniqueColors, users } from "../stores/store";

  export let todo;
  let selectedTodoId = null;

  function remove(t) {
    let updatedTodos = $todos.filter((todo) => todo.id !== t.id);
    todos.update(() => updatedTodos); // question with or without fn
  }

  function mark(todo, done) {
    todo.completed = done;
    todos.update((currentTodos) => currentTodos); // question for re-render
  }

  const handlePickedColor = (colorToSave, todo) => {
    todos.update((currentTodos) => {
      let newTodos = currentTodos.map((currTodo) => {
        if (currTodo.id === todo.id) {
          return {
            ...currTodo,
            color: colorToSave,
          };
        } else {
          return currTodo;
        }
      });
      return newTodos;
    });
    uniqueColors.update(() => {
      let newColorsValues = $todos.map((todo) => todo.color);
      const result = new Set(newColorsValues);
      return [...result];
    });
  };

  const handlefavoriteColors = (favColor, todo) => {
    todos.update((currentTodos) => {
      let newTodos = currentTodos.map((currTodo) => {
        if (currTodo.id === todo.id) {
          return {
            ...currTodo,
            color: favColor,
          };
        } else {
          return currTodo;
        }
      });
      return newTodos;
    });
    favoriteColors.update((currFavColors) => {
      let newFavColors = [...currFavColors, favColor];
      let result = new Set(newFavColors);
      return [...result];
    });
  };


  const handleChangeUser = (todo) => {
    selectedTodoId = todo.id;
  };

  
  const handleFilter = (user, t) => {
    let updatedTodos = todos.update((currentTodos) => {
      return currentTodos.map((todo) => {
        if (todo.id === t.id) {
          return {
            ...todo,
            username: user,
          };
        } else {
          return todo;
        }
      });
    });
    selectedTodoId = null;
    return updatedTodos;
  };
</script>

<ColorPicker
  color={todo.color}
  on:handle-picked-color={(e) => handlePickedColor(e.detail, todo)}
  on:handle-favorite-color={(e) => handlefavoriteColors(e.detail, todo)}
/>
<input type="checkbox" on:change={(e) => mark(todo, true)} />
<div>{todo.title}</div>
<!-- svelte-ignore a11y-click-events-have-key-events -->
<div on:click={handleChangeUser(todo)}>{todo.username}</div>
<button class="remove" on:click={() => remove(todo)}>remove</button>
{#if selectedTodoId === todo.id}
  <Select label="Change user">
    {#each $users as user}
      <Option
        on:click={(e) => handleFilter(e.target.innerText, todo)}
        value={user}>{user.name}</Option
      >
    {/each}
  </Select>
{/if}

<style>
  .remove {
    position: absolute;
    top: 0;
    right: 0.2em;
    width: 2em;
    height: 100%;
    background: no-repeat 50% 50%
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23676778' d='M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M17,7H14.5L13.5,6H10.5L9.5,7H7V9H17V7M9,18H15A1,1 0 0,0 16,17V10H8V17A1,1 0 0,0 9,18Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 1.4em 1.4em;
    border: none;
    opacity: 0;
    transition: opacity 0.2s;
    text-indent: -9999px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: absolute;
    left: 0.5em;
    top: 0.6em;
    margin: 0;
  }

  button:hover {
    opacity: 1;
  }
</style>
