<script>
  // @ts-nocheck
  import { colors, todos, users } from "./stores/store";
  import { onMount } from "svelte";
  import { Router } from "svelte-router-spa";
  import { routes } from "../routes/routes";
  import Layout from "./routes/Layout.svelte";
  import Notifications from "svelte-notifications";

  onMount(async () => {
    let todosInLocalStorage = JSON.parse(localStorage.getItem("todos"));

    if (todosInLocalStorage.length === 0 || !todosInLocalStorage) {
      const todosData = await fetch(
        "https://jsonplaceholder.typicode.com/todos/"
      );
      const usersData = await fetch(
        "https://jsonplaceholder.typicode.com/users"
      );

      const todosRealData = await todosData.json();
      const todosShortData = todosRealData.slice(140);
      const usersRealData = await usersData.json();
      const usersFinalData = usersRealData.map((user) => {
        return {
          id: user.id,
          name: user.name,
        };
      });

      let todosFinalData = todosShortData.map((todo) => {
        return {
          id: todo.id,
          userId: todo.userId,
          title: todo.title,
          completed: false,
          color: "#ff0000",
        };
      });

      const todosWithUsers = todosFinalData.map((todo) => {
        const matchingUser = usersFinalData.find(
          (user) => user.id === todo.userId
        );
        const username = matchingUser.name;
        return {
          ...todo,
          username: username,
        };
      });

      let colorsData = todosFinalData.map((todo) => {
        return {
          [todo.id]: todo.color,
        };
      });

      todos.update(() => todosWithUsers);
      users.update(() => usersFinalData);
      colors.update(() => colorsData);
    }
  });
</script>

<Notifications>
  <Layout>
    <Router {routes} />
  </Layout>
</Notifications>
